body {
    background-color: black;
    color: lime;
    font-family: "Courier New", monospace;
    font-size: 18px;
    padding: 20px;
}

#terminal {
    white-space: pre-wrap;
    line-height: 1.5;
}